{% extends "base.html" %}
{% block title %}Пошук маршруту{% endblock %}
{% block content %}
<h1 class="text-center">Пошук маршруту</h1>
{% if routes %}
<div class="row">
    <div class="col-md-8 mx-auto">

        <h3>Маршрут{% if routes|length != 1 %}и{% endif %}
            з {{from_city.name}} до {{to_city}}
        </h3>

        {% for route in routes %}
        {% if forloop.counter == 1%}
            <div class="alert alert-info" role="alert">
              Найкоротший маршрут
            </div>
        {% endif %}
            <h5>Час у дорозі {{route.total_time}}</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Список поїздів</th>

                </tr>
              </thead>
              <tbody>
            {% for train in route.trains %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{train.number}} з {{train.from_city}} до {{train.to_city}}</td>
                    </tr>
            {% endfor %}
             </tbody>
        </table>
        <br><br>
        {% endfor %}
    </div>
</div>
{% endif %}

{% url 'find_routes' as action %}
<div class="row">
    <div class="col-md-8 mx-auto">
        {% include 'form.html' with text='Пошук' action=action%}
    </div>
</div>


{% endblock %}
