{% url 'cities:home' as cities_home_url %}
{% url 'trains:home' as trains_home_url %}
{% url 'cities:create' as cities_create_url %}
{% url 'trains:create' as trains_create_url %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;" data-bs-theme="light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">FindRoute</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">

                  <a class="nav-link {% if request.path == cities_home_url%} active {% endif %}" aria-current="page" href="{% url 'cities:home' %}">Міста</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == trains_home_url%} active {% endif %}" href="{% url 'trains:home' %}">Потяги</a>
                </li>
                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle
                    {% if request.path == trains_create_url or request.path == cities_create_url%}
                        active
                    {% endif %}"
                     href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Створення
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'cities:create' %}">Міста</a></li>
                    <li><a class="dropdown-item" href="{% url 'trains:create' %}">Потягу</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %} col-md-6 mx-auto my-2 alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.basic-single').select2();
            $('.basic-multiple').select2();
        });
    </script>
  </body>
</html>




